*{
    user-select: none;
}
img{
    height:200px;
    width: 99.4%;
    border-radius: 4px;
}
.left{
    position: relative;
    left:3px;
    bottom: 110px;
    background-color: white;
    padding: 6px;
    border-radius: 30px;
}
.right{
    position: relative;
    bottom: 110px;
    left: 243px;
    background-color: white;
    padding: 6px;
    border-radius: 30px;
}
.trash{
    position: relative;
    top: 115px;
    left: 225px;
}
fa-icon{
    cursor: pointer;
}
