
    <div class="card" style="width: 300px;" [ngStyle]="{'border-color': isCheap==true ? 'red' : (isExp==true ? 'green' : null) }">
        <div class="card-block" style="width: 300px;">
            <img [src]="photoLink" alt={{link_to_photos}}>
            <fa-icon [icon]="faChevronLeft" size="lg" class="left" (click)="prevImg()"></fa-icon>
            <fa-icon [icon]="faChevronRight" size="lg" class="right" (click)="nextImg()"></fa-icon>
            <fa-icon [icon]="faTrash" size="lg" class="trash" (click)="deleteDish()"></fa-icon>
            <div style="display: flex;justify-content: center;">
                <fa-icon [icon]="faMinusCircle" size="lg" (click)="resign()" [ngStyle]="{'opacity': ordered==0 ?'0.5' : '1' }"></fa-icon>
                <p style="margin:0px 10px 0px 10px ; font-size: large;">{{ordered}}</p>
                <fa-icon [icon]="faPlusCircle" size="lg" (click)="order()" [ngStyle]="{'visibility': max_amount==0 ?'hidden' : 'visible' }"></fa-icon>
            </div>
            <app-rating style="display: flex;justify-content: space-around;align-items: center;" (sendRatingEvent)="getRating($event)"></app-rating>
            <p *ngIf="max_amount==0" style="font-weight:bold">[Niedostępne] {{name}}</p>
            <p *ngIf="max_amount>0" [ngStyle]="{'font-weight': max_amount<=3 ?'bold' : 'normal' }">Nazwa: {{name}}</p>
            <p>Kuchnia: {{origin}}</p>
            <p>Typ: {{type}}</p>
            <p>Składniki: {{ingridients}}</p>
            <p>Maksymalna {{max_amount}}</p>
            <p>Cena: {{price}} USD</p>
            <p>Opis: {{description}}</p>
        </div>
    </div>
