<nav class="navbar navbar-expand navbar-dark bg-dark navbar sticky-top">
    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Strona Głowna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="admin">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dodaj" routerLinkActive="active" *ngIf="manager">Dodaj</a>
        </li>
        <li class="nav-item" *ngIf="client">
          <a *ngIf="ordered===0" class="nav-link" routerLink="/koszyk" routerLinkActive="active">Koszyk</a>
          <a *ngIf="ordered!==0" [ngStyle]="{'background-color': ordered>10 ? 'dodgerblue' : 'orange' }" class="nav-link" routerLink="/koszyk" routerLinkActive="active">Koszyk({{ordered}})</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="changeCurrSettings()">Zmień wyświetlaną walutę</button>
      </form>
    </div>
    <div class="navbar-collapse collapse w-300 order-3 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/zarejestruj" routerLinkActive="active">Zarejestruj</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/zaloguj" routerLinkActive="active">Zaloguj</a>
        </li>
        <span class="navbar-text" *ngIf="isLoggedIn">{{name}}</span>
        <form class="form-inline my-2 my-lg-0" *ngIf="isLoggedIn" style="margin: 0px 10px;">
          <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="logout()">Wyloguj</button>
        </form>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>