<form style="margin:5px 0px;">
    <label for="nr">Liczba wyświetlanych dań</label>
    <input style="width: 200px;"type="number" min=1 class="form-control" id="nr" [(ngModel)]="nr" [ngModelOptions]="{standalone: true}" (change)="resetPage()">
</form>
<div style="display:flex;justify-content:space-between;width:60px;margin:5px 0px;">
    <fa-icon [icon]="faChevronLeft" size="lg" class="left" (click)="prev()" [ngStyle]="{'opacity': idx==1 ?'0.5' : '1' }"></fa-icon>
    <p>{{idx}}</p>
    <fa-icon [icon]="faChevronRight" size="lg" class="right" (click)="next()" [ngStyle]="{'opacity': number_of_dishes-idx*nr<=0 ?'0.5' : '1' }"></fa-icon>
</div>
