<button type="button" class="btn btn-primary"(click)="openModal()">Dodaj danie</button>
<div class="modal modal-hidden">
    <div class="modal-container">
      <div class="modal-body">
        <p>{{message}}<p>
            <form>
                <div class="form-group">
                  <label for="name">Nazwa</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label for="origin">Kuchnia</label>
                  <input type="text" class="form-control" id="origin" [(ngModel)]="origin" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="type">Typ</label>
                    <input type="text" class="form-control" id="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="ingridients">Składniki</label>
                    <input type="text" class="form-control" id="ingridients" [(ngModel)]="ingridients" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="max_amount">Maksymalna liczba do wydania</label>
                    <input type="text" class="form-control" id="max_amount" [(ngModel)]="max_amount" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="price">Cena</label>
                    <input type="text" class="form-control" id="price" [(ngModel)]="price" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="description">Opis</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="link_to_photos">Link do zdjęć (po przecinku)</label>
                    <input type="text" class="form-control" id="link_to_photos" [(ngModel)]="link_to_photos" [ngModelOptions]="{standalone: true}">
                </div>
            </form>
        <button type="button" class="btn btn-light" style="margin: 5px;" (click)="closeModal()">Zamknij</button>
        <button type="button" class="btn btn-primary" style="margin: 5px;" (click)="addDish()">Dodaj</button>
      </div>
    </div>
 </div>
